

<!-- https://mdbootstrap.com/docs/angular/components/modal/ -->
<!-- https://ej2.syncfusion.com/angular/documentation/timepicker/getting-started#:~:text=in%20your%20application.-,Adding%20TimePicker%20component,template%20section%20of%20the%20%5Bapp. -->


<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
    <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"
    ></button>
</div>

<div class="modal-body">

    <!-- <ng-template [ngIf]="condition"> -->
        <div class="red">
            {{formErrorMsg}}
        </div>
    <!-- </ng-template> -->
    

    <label for="testerid_1" class="form-label">Event name</label>
    <input type="text" [(ngModel)]="tempEvent.name" class="form-control" id="testerid_1" placeholder="{{EVENT_FORM_PLACEHOLDER}}">
    
    <label for="testerid_2" class="form-label">Date</label>
    <input type="date" [(ngModel)]="tempEvent.date" class="form-control" id="testerid_2" placeholder="">

    <label for="testerid_3" class="form-label">Start time</label>
    <input type="time" [(ngModel)]="tempEvent.startTime" class="form-control" id="testerid_3" placeholder="">

    <label for="testerid_4" class="form-label">End time</label>
    <input type="time" [(ngModel)]="tempEvent.endTime" class="form-control" id="testerid_4" placeholder="">

    <label for="testerid_5" class="form-label">Location</label>
    <input type="text" [(ngModel)]="tempEvent.location" class="form-control" id="testerid_5" placeholder="">


    <!-- <div class="mb-3">
    </div> -->


    <!-- <mdb-form-control>
        <input mdbInput type="text" id="form1" class="form-control">
        <label mdbLabel class="form-label" for="form1">Tester</label>
    </mdb-form-control>

    <mdb-form-control>
        <input mdbInput type="text" id="form2" class="form-control">
        <label mdbLabel class="form-label" for="form2">Example label</label>
    </mdb-form-control> -->

    <!-- <div class="container-form-input">
    </div> -->
    {{someDetail}}
</div>

<div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Close
    </button>
    <!-- <button type="button" class="btn btn-primary" (click)="modalRef.close(tempEvent)">Save changes</button> -->
    <button type="button" class="btn btn-primary" (click)="this.attemptToSave(modalRef,tempEvent)">Save changes</button>
    
</div>
